*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

img{
    max-width: 100%;
    max-height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.header, .main, .footer{
    background-color: #71BA2D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    font-size: 25px;
    padding: 7px;
}

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.copyright-message{
    margin: 20px 10px;
}

.nav-toggle, .nav-toggle-lable{
    display: none;
}

.menu, .bottom-menu{
    display: flex;
    column-gap: 20px;
    margin: 25px 10px;
    margin-right: 5px;
}

a{
    color: black;
}
a:hover, .menu li a.active{
    color: #E6F308;
}

.main{
    background-color: white;
    padding: 50px 15px;
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    gap: 40px;
}

.side-bar{
    grid-row-start: 1;
    grid-row-end: 3;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.side-bar-containt{
    background-color:#01B22E;
    font-size: x-large;
}

#popular-brands, #search{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 50px;
}
#popular-brands{
    margin-bottom: 20px;
}
.side-bar-containt-top, .side-bar-containt-categories{
    margin: 20px 20px;
}

.popular-brands, .search{
    margin-top: 10px;
}

.categories-heading{
    background-color: #FDD24F;
    color: #A03245;
    padding: 10px 10px;
}

.categories-text{
    font-size: large;
    border-bottom: dotted #73BC25;
    padding: 20px 0px;
}

.categories-text:last-child{
    border-bottom: none;
}

.side-bar-ad{
    background-color: #346702;
    padding: 20px 15px;
    text-align: center;
    font-size: x-large;
}
.side-bar-ad img{
    width: 100%;
    height: auto;
}

.ad-text{
    font-size: xx-large;
    margin-bottom: 25px;
}

.text-20{
    font-size: 150%;
}

.main-containt{
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.main-photo img{
    width: 100%;
    height: auto;
}

.main-body-heading, .main-tab-heading{
    font-size: 35px;
    font-weight: normal;
}
.main-body-heading{
    margin-bottom: 15px;
}
.main-body-heading, .main-tab-heading, .main-tab-item-price{
    color: #4A8030;
}

.main-body-text{
    font-size: large;
}

.main-tab{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 40px;
}

.main-tab-item{
    display: flex;
    border: 4px solid #71C36F;
    padding: 20px 15px;
}

.main-tab-item-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-tab-item-left{
    flex:1.5 1 0px;
}

.main-tab-item-right{
    flex:1 1 0px;
}

.main-tab-item-right img{
    width: 100%;
}

.main-tab-item-heading{
    font-weight: normal;
    font-size: x-large;
    margin-bottom: 20px;
}

.main-tab-item-para{
    font-size: large;
}

.footer{
    font-size: large;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-menu li{
    padding-right: 20px;
    border-right: 2px solid #000;
    display: inline-block;
}
.bottom-menu li:last-child{
    border-right: 0;
}

@media (max-width: 767px){
    .nav-toggle-lable{
        display: block;
    }
    .bottom-container{
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .copyright-message{
        font-size: medium;
        text-align: center;
    }

    .bottom-menu li{
        border-right: 0px;
        padding-top: 10px;
    }
    .bottom-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu{
        display: none;
    }
    .nav-toggle:checked ~ .menu{
        display: block;
        position: fixed;
        top: 80px;
        left: 0px;
        background-color: #71BA2D;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    .menu li{
        margin: 40px 0;
    }
    .menu li a{
        font-size: 20px;
    }

    .main{
        display: flex;
        flex-direction: column;
    }

    .main-photo{
        order: 1;
    }
    .side-bar{
        order: 2;
    }
    .main-containt{
        order: 3;
    }

    .main-tab{
        display: flex;
        flex-direction: column;
    }

    .side-bar-ad img{
        width: 70%;
        margin: 20px 20px;
    }
}

@media (max-width: 992px) and (min-width: 767px){
    .main-tab-item-left{
        flex: 2 1 0px;
    }
    .main-tab-item-right{
        flex: 1 1 0px;
    }

    .main-tab{
        display: flex;
        flex-direction: column;
    }
}